body {
    flex: auto;
    height: 100%;
    background-image: url('./High-Outer-Space-Wallpapers.jpg');
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
}

#todoContainer {
    height: 100%;
    display: grid;
    align-items: center;
}

h1 {
    color:#f4f4f4;
    font-family:'Courier New', Courier, monospace;
    font-weight: 900;
    font-size:xx-large;
    background-color:rgba(red, green, blue, alpha);
    text-align: center;
  }
#listContainer {
  background-color:rgba(red, green, blue, alpha);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 75vw;
  overflow: auto;
  max-height: 75vh;
  margin-left: auto;
  margin-right: auto;
}


ol {
    justify-content: space-between;
}

li {
    border-style: solid;
    border-color: black;
    border-width: 0.1;
    background-color:;
    margin-left: auto;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    align-items: left;
    gap: 10px;
    color: #f4f4f4;
    font-family: 'Courier New', Courier, monospace;
}

li p{
    width: 90%;
    font-weight: bolder;
}

#removeItemBtn {
    background-color: crimson;
    font-size: large;
    border-style:ridge;
    height: 80%;

}

#removeItemBtn:hover {
  color: yellow;

}

#addContainer {
    background-color:rgba(red, green, blue, alpha);
    width: 50vw;
    height: 25vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

#addContainer input {
width: 50%;
}

#addContainer p {
    width: 25%;
    font-size: large;
    font-weight: bold;
    color: #f4f4f4;

}

#addItemBtn {
    background-color: green;
    font-size: large;
    width: 25%;
}

#checkbox {
    height: 80%;
}